.places__card {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 48px 40px;
}

.places__card:first-child {
  margin-top: 92px;
}

.places__card:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__card {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__card {
    gap: 48px 28px;
    margin-bottom: 73px;
    max-width: calc(100%*(928/768));
  }
}

@media screen and (max-width: 767px) {
  .places__card {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .places__card {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .places__card:first-child {
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .places__card {
    gap: 32px;
    margin: 50px auto 0;
  }

  .places__card:first-child {
    margin-top: 64px;
  }
}