.lead__caption {
  margin: 8px 0 0;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    margin: 8px 0 0 calc((24/768)*100vw);
  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin: 8px 0 0 calc((16/320)*100vw);
  }
}