.footer {
  max-width: 1184px;
  margin: 0 auto 0;
  padding: 0 48px 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) and (min-width: 767px) {
  .footer {
    max-width: 720px;
    padding: 0 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 0 16px 24px 16px;
  }
}