.header__lang-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
  justify-content: end;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  align-self: flex-end;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    align-self: center;
    font-size: 18px;
    line-height: 20px;
  }
}